.container {
    padding: var(--spacer-s);
    background-color: var(--color-primary);
    border-radius: var(--radi-m);
    display: flex;
    flex-direction: column;
    height: 100%;
   
}

.body {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
   
    align-items: center;
}

.image {
    height: auto;
    max-width: 100%;
}