.tab {
    background: inherit;
    cursor: pointer;
    border: none;
    color: var(--text-secondary);
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: var(--font-size_primary);
    position: relative;
    padding-bottom: 5px;

 
}

.active {
    color: var(--text-primary);
    font-weight: bold;
    &::before {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        background-color: var(--color-indicator);
        margin-top: 5px;
        height: 2px;
    }
}

.underline {

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    
    background-color: var(--color-indicator);
    margin-top: 5px;
    height: 2px;
    &_active {
        height: 2px;
    }
}